.activity{
    /* border: 1px solid black; */
    margin-top: 51px;
    margin-left: 15px;
    max-height: 650px;
    width: 427px;
}

@media only screen and (max-width: 820px){
    .activity{
        display: flex;
        /* border: 1px solid black; */
        margin-top: 25px;
        margin-left: 45px;
        min-height: 700px;
        width: 100%;
    }   
}

@media only screen and (max-width: 390px){
    .activity{
        display: block;
        margin-top: 20px;
        margin-left: 0px;
        min-height: 700px;
        width: 100%;
    }   
}