.mainScreen {
    margin-top: 21px;
    margin-left: 4%;
    font-family: Poppins;
}

.header {
    color: #161E54;
    font-size: 24px;
    font-weight: 500;
}

.cardTop {
    display: flex;
    gap: 16px;
}

.cardBottom {
    display: flex;
    gap: 16px;
}