.mainScreen {
    margin-top: 8px;
    margin-left: 2%;
    font-family: Poppins;
}

.header1 {
    color: #161E54;
    font-size: 22px;
    font-weight: 500;
}

.cardTop {
    display: flex;
    gap: 10px;
}

.cardBottom {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 820px){
    .mainScreen {
        margin-top: 8px;
        margin-left: 40px;
        font-family: Poppins;
        /* overflow: scroll; */
    }

    .cardTop {
        display: flex;
        gap: 18.5px;
    }

    .cardBottom {
        display: flex;
        gap: 25px;
    }

    .header1 {
        color: #161E54;
        font-size: 22px;
        font-weight: 500;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 390px){
    .mainScreen {
        margin-top: 8px;
        margin-left: -80px;
        font-family: Poppins;
        /* overflow: scroll; */
    }

    .header1 {
        color: #161E54;
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
    }

    .cardTop {
        display: block;
        /* gap: 18.5px; */
    }

    .cardBottom {
        display: block;
        /* gap: 25px; */
    }
}